
<%= form_with(model: [post, comment]) do |f| %>
  <div class="comment-form-container my-3">
    <div class="list-group list-group-flush">
      <p style="color: #555;">コメント投稿</p>
      <div class="form-group mb-0">
        <%= f.text_area :comment, class: "form-control", rows: 5 %>
      </div>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary btn-comment-post" %>
  </div>
<% end %>