<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <div class="container">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <div class="container">
      <%= flash[:alert] %>
    </div>
  </div>
<% end %>