<header>
  <nav class="navbar global-nav">
    <div class="container">
      <%= link_to 'LOGO', root_path, class: "navbar-brand global-nav-logo h1" %>
      <ul class="global-nav-list d-flex justify-content-between">
        <% if user_signed_in? %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, class: 'btn btn-danger', method: :delete %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'btn btn-success' %></li>
          <li><%= link_to 'アカウント作成', new_user_registration_path, class: 'btn btn-primary' %></li>
        <% end %>
      </ul> 
    </div>
  </nav>
</header>