<div class="post-list-container container">
  <ul>
    <% @posts.each do |post| %>
      <div class="post-list-content">
        <li><%= link_to post.title, post, class: "h3" %></li>
        <p>by:<%= link_to post.user.name, user_path(post.user_id) %></p>
        <p><%= post.created_at.to_s(:date_jp) %>に投稿</p>
      </div>
    <% end %>
  </ul>
</div>

<div class="paginate">
  <%= paginate @posts %>
</div>
