// 管理者用メニュー
div.admin-header {
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);

  nav {
    padding: 15px;

    ul.r-menu-list {

      li {
        font-size: 1.1rem;
      }
      li:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  } // nav
} // div.admin-header