body {
  background-color: #f6f6f6;
}



// 記事投稿画面
.f-post {
  margin-top: 3rem;
  margin-bottom: 5rem;

  // タイトル入力欄
  &-title {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    label {
      opacity: 0;
    }

    &-input {
      width: 100%;
      height: 3rem;
      border: 1px solid #cccccc;
      font-size: 30px;
      padding: 0 1rem;

      &::placeholder {
        color: #b8b8b8;
      }
    }

    &-input:focus {
      outline: 0;
    }
  }

  // 本文入力欄
  &-body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    label {
      opacity: 0;
    }

    &-input {
      width: 100%;
      padding: 20px;
      border: 1px solid #ccc;
      letter-spacing: .06rem;
      font-size: 18px;
      height: 80vh;

    }
    &-input:focus {
      outline: 0;
    }
  }

  .btn-submit-post {
    width: 95%;
    margin: 10px auto;

    button {
      padding: 10px 30px;
      background-color: $primary;
      color: #fff;
      letter-spacing: .3rem;
      border: none;
    }
    button:hover {
      background-color:#c94a27;
    }
  }
}// .f-post


// 記事一覧画面
.post-list-container {
  margin-top: 4rem;
  background-color: #fff;

  .post-list-content {
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .post-list-content:last-child {
    border-bottom: none;
  }
}

.paginate {
  margin-top: 20px;
  margin-bottom: 3rem;
  text-align: center;

  .pagination {
    justify-content: center;
  }
}

// 記事詳細画面
.show-post {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .post-details {
    background-color: #fff;
    margin-top: 2rem;
    width: 70%;
    padding: 20px;

    &-title {
      font-size: 2.7rem;
    }

    .post-body {

      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 22px;
      }
      h1, h2, h3 {
        margin-top: 2rem;
      }

      .CodeRay {
        background-color: #f3f3f3;
        padding: 15px;
      }
    }
  }


  // 目次
  .toc-content {
    width: 27%;
    margin-top: 5rem;
    // display: flex;
    // justify-content: center;

    ol {
      // max-width: 100%;
      
      overflow-x: scroll;
    }

    li {
      margin-bottom: 10px;
    }
    .h-2 {
      padding-left: 1rem;
    }
    .h-3 {
      padding-left: 2rem;
    }

    a {
      color: #555;
      padding: 5px 10px;
      white-space: nowrap;
      display: inline-block;
      width: 100%;

      &:hover {
        background-color: rgba(218, 118, 91, .2);
      }
    }
  }

  @media (max-width: 900px) {
    // 記事詳細
    .post-details {
      width: 100%;
    }

    // 目次
    .toc-content {
      display: none;
    }
  }
}


