.global-nav {
  background-color: #da765b;
  margin-bottom: 3rem;

  &-logo {
    color: #fff;
  }

  &-list {
    list-style: none;
  }
}

.validates-error-messages {
  color: red;
  list-style: none;
}

.h-sign-in-btn,
.h-sign-up-btn {
  margin-right: 10px;
}