.like {
  
  button {
    position: relative;

    i {
      font-size: 22px;
    }
  }
  // チップツール
  .unlike-btn .tiptool,
  .like-btn .tiptool {
    color: #fff;
    background-color: #da765b;
    display: none;
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
  }

  button:hover .tiptool {
    display: inline-block;
    width: 40%;
    line-height: 35px;
  }
}