// ユーザー詳細
.user-show {
  display: flex;
  justify-content: space-around;

  
  .user-details {
    width: 35%;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    text-align: center;

    .user-details-content {
      width: 70%;
    }

    & p {
      width: 70%;
      text-align: left;
      margin: 5px auto;
    }

    &-img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      border-radius: 50%;
      margin: 0 auto 3rem auto;
      display: block;

    }
    &-text {

      p {
        padding: 10px;
      }
    }
  }

  .user-details-posts {
    width: 100%;

    .user-details-noposts {
      padding: 20px;
    }
  }

  .us-contents {
    width: 60%;

    .us-posts-switch {
      display: flex;
    }
    .us-timeline {
      margin-right: 1rem;
    }

    .us-timeline,
    .us-myposts {
      border-radius: 5px 5px 0 0;
      padding: 10px 20px;
      cursor: pointer;
    }
    .us-timeline:not(.active):hover,
    .us-myposts:not(.active):hover {
      background-color: #fff;
    }

    // 選択時
    .us-timeline.active,
    .us-myposts.active {
      background-color: #fff;
    }
    
    // 未選択時
    .us-my-posts,
    .us-following-posts {
      display: none;
    }
    
    // // 選択時
    .us-my-posts.active,
    .us-following-posts.active {
      display: block;
    }

    .us-following-posts {
      .user-following-noposts {
        padding: 20px;
      }
    }
  }
}

// ユーザー詳細画面 / フォロー中の記事一覧
.following-posts {
  background-color: #fff;

  .post-list-content {
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    display: flex;
  }
  .post-list-content:last-child {
    border-bottom: none;
  }

  .posts-user-imgs img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

@media (max-width: 890px) {
  .user-show {
    display: block;

    .user-details {
      width: 90%;
      margin: 0 auto;

      .user-details-content {
        width: 100%;

      }
      .user-follow {
        width: 100%;
      }
    }
  }

  .user-show {
    
    .us-contents {
      width: 90%;
      margin: 0 auto;
      margin-top: 2rem;
    }
  }

  .post-list-container,
  .user-show-posts {
    display: block!important;

    .user-posts-btns {
      text-align: center;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

}