$primary: #da765b;

@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'common';
@import 'messages';
@import 'follow';
@import 'header';
@import 'overview';
@import 'sign_in_up';
@import 'user_edit';
@import 'comment';
@import 'users';
@import 'posts';
@import 'likes';
@import 'stocks';
