<div class="admin-page container">
  <ul class="users-list">
    <% @users.each do |user| %>
      <div class="user-container">
        <li class="user-item"><%= render partial: 'partial/profile_image', locals: { user: user } %></li>
        <li class="user-item"><%= user.name %></li>
        <li class="user-item"><%= user.email %></li>
      </div>
    <% end %>
  </ul>
</div>


<div class="paginate">
  <%= paginate @users %>
</div>
